* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    min-height: 100svh;
    font-family: "roboto", Arial;
    color: var(--text);
    background-color: var(--background);
}

header {
    padding: 0;
    padding-inline: max(5rem, 10%);
    position: relative;
    display: flex;
    background: var(--background-lite);
    z-index: 15;
}

.logo {
    height: 64px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.logo h1 {
    margin-left: 1rem;
    font-size: 20px;
}

.logo img {
    height: 64px;
    width: 64px;
}

footer {
    position: relative;
    padding-inline: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 100svw;
    min-height: 5rem;
    margin-top: auto;
    margin-bottom: 2rem;
}
footer .heading {
    font-size: 1.5rem;
    font-weight: 500;
}
footer .links {
    padding-top: 5%;
}
footer .link {
    text-decoration: none;
    color: var(--text);
}
footer .link svg {
    height: 1rem;
    width: 1rem;
}
footer .link svg path {
    fill: var(--text);
}

#mobile-nav {
    position: fixed;
    bottom: 6px;
    right: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--text);
    width: 100%;
    padding-inline: 1rem;
    transition: width 100ms ease;
}
.nav-buttons {
    z-index: 10;
    padding-inline: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-buttons button {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border-radius: 100%;
    border: none;
    height: 3rem;
    width: 3rem;
}

.nav-buttons button .icon {
    height: 1.8rem;
    margin: auto;
}

.nav-buttons button .icon > :is(path, polygon) {
    fill: var(--primary);
}

.nav-buttons #hide-button {
    position: absolute;
    right: 0;
    transform: rotateY(180deg);
    transition: transform 200ms ease;
}
.nav-buttons #hide-button svg {
    height: 1rem;
}
.nav-buttons .nav-selected {
    transform-style: preserve-3d;
    background-color: var(--primary) !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
    animation: bounce 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8) forwards;
}
.nav-buttons .nav-selected::before {
    content: "";
    position: absolute;
    top: -10%;
    background: transparent;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    z-index: -1;
    height: 100%;
    width: 100%;
    border: 5px solid var(--background) !important;
    transform: translateZ(-5px);
}
.nav-selected .icon path {
    fill: url("#sel-grad") !important;
}
@keyframes bounce {
    from {
        top: -10%;
    }

    to {
        scale: 1.1;
        top: -30%;
    }
}
.minimized {
    opacity: 0.3;
    width: 3rem !important;
    height: 3rem;
}
.minimized #hide-button {
    transform: rotateY(0deg);
}
.minimized button:not(#hide-button) {
    display: none;
}

.content {
    overflow-x: hidden;
}
.content .title {
    margin-left: 5%;
}
#desktop-nav {
    display: none;
    position: absolute;
    margin-right: 7rem;
    right: 0;
    height: 100%;

    .nav-items {
        height: 100%;
        display: flex;
        gap: 8rem;
        text-decoration: none;
        list-style-type: none;
    }
}

.nav-items li {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    box-sizing: border-box;
    width: 7rem;
    height: 100%;
    padding-top: 0.5rem;
    padding-inline: 1rem;
    cursor: pointer;

    &.nav-selected::after {
        content: "";
        position: absolute;
        margin: auto;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: var(--text);
        animation: underline 0.2s ease-out forwards;
    }
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
/* Large screen */
@media screen and (min-width: 1200px) {
    header .logo {
        margin: unset;
    }
    #desktop-nav {
        display: inline !important;
    }
    #mobile-nav {
        display: none !important;
    }
}
