.w-sm {
    width: 50svw;
}
.w-med{
    width: 75svw;
}
.w-lg{
    width: 90svw;
}
.w-xlg{
    width: 100svw;
}
.center {
    margin: auto;
    text-align: center;
}
.mt-5{
    margin-top: 5%;
}
.mt-25 {
    margin-top: 25%;
}
.mt-50{
    margin-top: 50%;
}
.mt-75{
    margin-top: 75%;
}
.pb-10 {
    padding-bottom: 50%;
}
.form-input {
    position: relative;
    padding: 7px 0;
    display: flex;
} 
.form-input .text-input{
    padding-bottom: 6px;  
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--background);
    outline: 0;
    font-size: 1.3rem;
    color: var(--background);
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .text-input-label{
        font-size: 1.3rem;
        cursor: text;
        top: 12px;
    }

}

.indicator {
    position: absolute;
    right: 0; 
    height: 30px;
}
.indicator .cross{
    opacity: 0;
    stroke: #ff0000;
    stroke-width: 6;
    transition: all 1s;
}

.indicator #tick {
    opacity: 0;
    stroke: var(--gradient2);
    stroke-width: 6;
    transition: all 1s;
}

.indicator #circle {
    stroke: var(--gradient2);
    stroke-width: 6;
    transform-origin: 50px 50px 0;
}

.indicator .hidden {
    display: none;
}
.indicator .progress #circle {
    stroke: #4c4c4c;
    stroke-dasharray: 314;
    stroke-dashoffset: 1000;
    animation: spin 3s linear infinite;
}
.indicator .progress #tick{
    display: none;
}
.indicator .progress .cross{
    display: none;
}

.indicator .allow #circle {
    stroke-dashoffset: 66;
    stroke: var(--gradient2);
}
.indicator .allow #tick {
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s ease-out forwards;
}
.indicator .allow .cross{
    display: none;
}

.indicator .deny #circle {
    stroke-dashoffset: 66;
    stroke: #ff0000;
}
.indicator .deny .cross{
    opacity: 1;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s ease-out forwards;
}

.indicator #cross #line-one {
    animation-delay: 250ms;
}
.indicator .deny #tick{
    display: none;
}
.form-input:has(.indicator .deny) .text-input{
    border-width: 3px;
    border-image: linear-gradient(to right, #aa0534, #ff0000);
    border-image-slice: 1;
}
.form-input:has(.indicator .deny) .text-input-label{
    color: #aa0534;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes spin {
  0% { 
    transform: rotate(0deg);
    stroke-dashoffset: 66;
  } 
  50% {
    transform: rotate(540deg);
    stroke-dashoffset: 314;
  } 
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 66;
  }
}

.form-input .text-input-label {
    position: absolute;
    pointer-events:none;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--background);;
}
.text-input:focus ~ .text-input-label {
    position: absolute;
    top: -16px !important;
    display: block;
    transition: 0.2s;
    color: var(--gradient2);
    font-size: 1rem;
    font-weight:700;    
}
.text-input:focus {
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--gradient2),var(--secondary));
    border-image-slice: 1;
}
.link-text {
    text-decoration: none;
    color: var(--text);
}
.link-bg {
    text-decoration: none;
    color: var(--background);
}

