.game {
    margin-top: 0.5rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
    background-color: #e0e0e0;
    display: flex;
    flex-wrap: wrap;
}
.game .icon img {
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    height: 56px;
    width: 56px;
}
.game .desc {
    margin-left: 1rem;
}
.game .desc h4{
    width: 100%;
}

