:root {
    --text: #040316;
    --background: #fbfbfe;
    --primary: #23587b;
    --secondary: #82ed9b;
    --accent: #57cb99;
}

* {
    margin: 0;
}
body {
    font-family: Arial;
    color: var(--text);
    background-color: var(--background);
}

.logo{
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.logo h1 {
    margin-left: 0.5rem;
}

.logo img {
    border-radius: 4px;
    height: 48px;
    width: 48px; 
}

#nav-bar {
    background-color: var(--primary);
    color: var(--text);
    box-sizing: border-box;
    width: 100%;
    padding-inline: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
.nav-buttons {
    width: 100%;
    justify-content: space-between;
    height: 4rem;
}
.nav-buttons button {
    margin-inline: 2rem;
    background: none;
    border: none;
    height: 4rem;
    width: 4rem;
}

.nav-buttons button .icon path{
    fill: var(--background);
    height: 4rem;
    width: 4rem;
}


