@import url("base.css");
@import url("games.css");
@import url("frame.css");

@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}
:root {
    --background: #181f27;
    --background-lite: #21282f;
    --text: #fbfbfe;
    --primary: #57cb99;
    --secondary: #0d3b59;
    --accent: #82ed9b;

    --danger: #c84139;
    --warning: #fec02b;
    --caution: #e39b3b;
    --success: #1d9479;
    --info: #408ca4;
}
