# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
## Java
*.class
*.jar
*.war
*.ear
*.nar

## Maven
backend/target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# env file
.env

# backup files
*.bak

# npm packages
node_modules/
package-lock.json

dist/*
