<h1 class="page-title"> Tuning Game </h1>
<div class="game-content">
    <div class="row">
        <div id="ref-pitch" class="btn">Toggle Reference Pitch</div>
        <div id="tune-pitch" class="btn">Play Pitch</div>
    </div>
    <div class="row">
        <p id="tune-indicator"><span id="cents-changed">0</span> Cents</p>
    </div>
    <div class="row">
        <div id="tune-down" class="btn btn-sm error">-</div>
        <input type="range" id="tune-slider" min="-10" max="10" value="0">
        <div id="tune-up" class="btn btn-sm success">+</div>
    </div>
    <div class="row">
        <div id="check" class="btn cool">Check</div>
    </div>
</div>
<script defer src="/static/js/games/tuninggame/tone.js"></script>
<script type="module" defer src="/static/js/games/tuninggame/tuninggame.js"></script>
