<h1 class="page-title"> Tuning Game </h1>
<div class="game-content">
    <div class="row">
        <div id="ref-pitch" class="btn">Toggle Reference Pitch</div>
        <div id="tune-pitch" class="btn">Play Pitch</div>
    </div>
    <div class="row">
        Sine Wave
    </div>
    <div class="row">
        <div id="tune-up" class="btn">+</div>
        <div id="tune-down" class="btn">-</div>
    </div>
</div>
<script defer src="/static/js/games/tuninggame/tone.js"></script>
<script type="module" defer src="/static/js/games/tuninggame/tuninggame.js"></script>
