<div class="games-card">
    <h1 class="page-title">Games</h1>
    <div
        id="tuninggame"
        class="games-item"
        hx-push-url="true"
        hx-get="/games/tuninggame"
        hx-target=".content"
        hx-trigger="click"
    >
    <div class="icon">
        <img src="/images/icons/SVG/tuning-fork.svg" />
    </div>
        <div class="desc">
            <h4 class="desc-header">Tuning Game</h4>
            <p class="desc-text">Hone in on your ability to match a pitch</p>
        </div>
    </div>
</div>
