<div class="gameslist">
    <h1 class="page-title">Games</h1>
    <div
        id="tuninggame"
        class="games-item"
        hx-push-url="true"
        hx-get="/games/tuninggame"
        hx-target=".content"
        hx-trigger="click"
    >
        <div class="icon" style="--gradient1: var(--secondary); --gradient2: #0b6e4f">
            <img src="/images/icons/SVG/tuning-fork.svg"/>
        </div>
        <div class="desc">
            <h4>Tuning Game</h4>
            <p>Hone in on your ability to match a pitch</p>
        </div>
    </div>
</div>
