<div class="hero">
    <img src="/images/dan-cristian-padure-SMSLyc9FHl0-unsplash.jpg" alt="Colorful image wallpaper" />
    <div class="heading">
        <h1 id="header">Master Music</h1>
        <h2 id="subheader">Through fun game-like practice methods</h2>
        <div class="buttons">
            <button 
                hx-target=".content"
                hx-push-url="true"
                hx-get="/login"
                class="button button-secondary"
                >Login</button>
            <button 
                hx-target=".content"
                hx-push-url="true"
                hx-get="/games"
                class="button button-primary"
                >Explore Library</button>
        </div>
    </div>
</div>
