<div class="pb-10 mt-25 card w-lg center text-primary" style="--gradient1: var(--secondary); --gradient2: #0B6E4F;">
    <div class="top-gradient" style="top: -10%;"> </div>
    <div class="header">LOGIN</div>
    <div class="card-content">
        <form hx-target=".content" hx-post="/login" class="center w-med">
            <input class="text-box" name="username" type="text" placeholder="Username">
            <br>
            <br>
            <br>
            <input class="text-box" name="username" type="password" placeholder="Password">
            <br>
            <br>
            <div class="button">Login</div>
        </form>
    </div>
</div>
<div id="register" class="mt-5 center" hx-get="/register" hx-target=".content" hx-trigger="click">Register</div>

