<div class="card" style="width: 95svw;">
    <div class="top-gradient"></div>
    <div class="header">Login</div>
    <div class="card-content">
        <login-form></login-form>
    </div>
</div>
<div
    id="register-link"
    class="mt-5 text-center center"
    hx-swap="innerHTML show:window:top"
    hx-push-url="true"
    hx-boost="true"
    hx-target=".content"
    hx-trigger="click"
>
    <a class="link-text" href="/register">Register</a>
</div>
<script type="module" src="/js/login/scripts.bundle.js"></script>
