<div
    class="mt-25 card w-lg center text-primary"
    style="--gradient1: var(--secondary); --gradient2: #0b6e4f"
>
    <div class="top-gradient" style="top: -10%"></div>
    <div class="header">Create Account</div>
    <div class="card-content">
        <form
            id="register-form"
            class="form center w-med"
        >
            <div class="form-input">
                <input
                    class="text-input"
                    id="email-field"
                    name="email"
                    type="text"
                    placeholder="email"
                />
                <label class="text-input-label" for="#email-field">Email</label>
                <div class="indicator">
                    <svg id="check" style="width: 30px; height: 30px" class="hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" xml:space="preserve">
                        <circle id="circle" cx="50" cy="50" r="46" fill="transparent" />
                        <polyline id="tick" points="25,55 45,70 75,33" fill="transparent" />
                        <g id="cross" stroke="black" stroke-width="5" fill="none">
                            <polyline class="cross" id="line-one" points="30,30 70,70"/>
                            <polyline class="cross" id="line-two" points="30,70 70,30"/>
                        </g>
                    </svg>
                </div>
            </div>
            <br />
            <div class="form-input">
                <input
                    class="text-input"
                    id="username-field"
                    name="username"
                    type="text"
                    placeholder="Username"
                />
                <label class="text-input-label" for="#username-field">Create Username</label>
            </div>
            <br />
            <div class="form-input">
                <input
                    class="text-input"
                    id="password-field"
                    name="password"
                    type="password"
                    placeholder="Password"
                />
                <label class="text-input-label" for="#password-field" >Create Password</label >
                <div class="strength">
                    <span class="bar" id="bar-1"></span>
                    <span class="bar" id="bar-2"></span>
                    <span class="bar" id="bar-3"></span>
                    <span class="bar" id="bar-4"></span>
                </div>
                <ul class="checklist">
                    <li>Must be at least 8 characters</li>
                    <li>Must contain capital letters</li>
                    <li>Must contain a number</li>
                    <li>Must contain a special character (!@#$%^&*;,)</li>
                </ul>
            </div>
            <br />
            <div class="form-input">
                <input
                    class="text-input"
                    id="confirm-password-field"
                    name="confirm-password"
                    type="password"
                    placeholder="Password"
                />
                <label class="text-input-label" for="#confirm-password-field" >Confirm Password</label >
            </div>
            <br />
            <br />
            <button id="submit-button" type="submit" class="button">
                Submit
            </button>
            <br />
        </form>
    </div>
</div>
<div
    id="login"
    class="mt-5 center"
    hx-push-url="true"
    hx-boost="true"
    hx-target=".content"
    hx-trigger="click"
>
    <a class="link-text" href="/login">Sign in</a>
</div>
<script defer src="/js/login/scripts.build.js"></script>
